.nav-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 184, 110);
}
.navBar {
  background-color: brown;
  height: 50px;
}
.navBar ul li {
  list-style: none;
  float: left;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: rgb(250, 249, 249);
  font-weight: bold;
}
.navBar ul li a {
  text-decoration: none;
  list-style: none;
}
